#deslogado1{
    display: inline-block !important;
}
#deslogado2{
    display: inline-block !important;
}
#logado1{
    display: none !important;
}
#logado2{
    display: none !important;
}